body{
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

*, *::before, *::after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

img{
	max-width: 100%;
}
/*--layout--*/
	body{
		display: grid;
		grid-template-areas: 
			"fejlec"
			"kontent"
			"lablec"
		;
		grid-template-rows: max-content 1fr max-content;
		min-height: 100vh;
		position: relative;
	}

	header{
		grid-area: fejlec;
	}
	main{
		grid-area: kontent;
	}
	footer{
		grid-area: lablec;
	}
/*--layout_end--*/

/*--Általános--*/
	a{
		text-decoration: none;
		color: #000000;
	}
/*--Általános_end--*/

/*--azonos_header--*/
	header{
		line-height: 2rem;
		padding: .75rem 1rem;
		text-align: right;
		font-size: .95rem;
		font-weight: lighter;
		background-color: #ffffff;
	}
	.fejlec_kor_gomb{
		display: inline-block;
		cursor: pointer;
		background-color: #33691E;
		color: #ffffff;		
		font-size: 1.15rem;
		width: 2rem;
		border-radius: 1rem;

		text-align: center;
		margin-left: .5rem;
		user-select: none; /*kattintáskor nem jelöli ki*/
	}
	.fejlec_kor_gomb:hover{
		-webkit-box-shadow: 0px 0px 0px 5px #F0F0F0;
			-moz-box-shadow:    0px 0px 0px 5px #F0F0F0;
			box-shadow:         0px 0px 0px 5px #F0F0F0;
	}
	header a.header_menu{
		margin: 0 .5rem;
	}
	header a.header_menu:hover{
		color: #666666;
		text-decoration: underline;
	}
	.header_bal{
		float: left;
		text-align: left;
		min-width: min-content;
	}
	.header_jobb{
		display: inline-block;
		margin-top: .4rem;
	}
	.header_logo{
		margin-left: 1rem;
		margin-right: 1rem;
		transform: translateY(.5rem);
		height: 2rem; 
		display: inline-block;
	}
	header .kereso_blokk{
	}
	hr{
		margin-top: 1.5rem;
		margin-bottom: 1rem;
		display: block;
		width: 100%;
		border-left: none;
		border-right: none;
		border-bottom: none;
		border-top:1px solid #dfe1e5;
	}
/*--azonos_header_end--*/

/*--kereso_blokk--*/
	.kereso_blokk{
		width: 100%;
		border: 1px solid #dfe1e5;
		
		line-height: 1.5rem;
		padding: .5rem 1rem;
		border-radius: 1.25rem;
		display: flex;
	}
	.kereso_blokk input[type="text"]{
		flex-grow: 1;
		font-size: 1rem;
		border:none;
		min-width: 7rem;
	}
	.kereso_ikon_keres{
		height: 1.25rem;
		margin-right: 1rem;
		color: grey;
	}
	.kereso_ikon_kilep{
		padding-left: 1rem;
		padding-right: 1rem;
		border-right: 1px solid #dfe1e5;
	}
	.kereso_ikon_mikrofon{
		margin-left: 1rem;
	}
	.kereso_blokk:hover{
		-webkit-box-shadow: 0 1px 6px rgba(32,33,36,.28);
			-moz-box-shadow:    0 1px 6px rgba(32,33,36,.28);
			box-shadow:         0 1px 6px rgba(32,33,36,.28);
	}
/*--kereso_blokk_end--*/

/*--azonos_footer--*/
	footer{
		background-color: #F2F2F2;
		color: #666666;
		
		line-height: 3rem;

	}	
	footer a{
		font-size: .9rem;
		margin: 0 .5rem;
		color: #666666;
		display: inline-block;
	}
	footer a:hover{		
		text-decoration: underline;
	}
	#footer_teteje{
		padding-left: 2rem;
		border-bottom: 1px solid #E4E4E4;
	}
	#footer_alja{
		padding-left: 2rem;
		padding-right: 2rem;
		text-align: center;
	}
	#footer_alja div{
		display: inline-block;
	}
/*--azonos_footer_end--*/

/*--Lenyilo_menü--*/
	#lenyilo_menu{
		display: none;
		position: absolute;
		right: 1rem;
		top: 4rem;
		background-color: white;
		border-radius: 8px;
		border: 1px solid rgba(0,0,0,.2);
		-webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,.2);
			-moz-box-shadow:    0px 2px 10px 0px rgba(0,0,0,.2);
			box-shadow:         0px 2px 10px 0px rgba(0,0,0,.2);
		overflow: hidden;
		text-align: left;


	}
	#lenyilo_menu.latszodik{
		display: block;	
		max-height: max-content;	
	}
	.lenyilo_almenu{
		padding-left:1rem;
		padding-right:1rem; 
		line-height: 2.5rem;
		/*border-bottom: 1px solid rgba(0,0,0,.2);*/
	}
	.lenyilo_almenu img{
		height: 1.5rem;
		transform: translateY(.35rem);
		padding-right: .5rem;
	}
	.lenyilo_almenu:hover{
		background-color: #F7F8F8;
	}
/*--Lenyilo_menü_end--*/

/*--home--*/
	main.center_keres{
		display: grid;
		grid-template-rows: minmax(1rem, 1fr) max-content minmax(1rem, 1fr);
		grid-template-columns:minmax(1rem, 1fr) minmax(288px, 584px) minmax(1rem, 1fr);
	}
	main .center_box{
		grid-row: 2/3;
		grid-column: 2/3;
	}
	.large_logo{
		display: block;
		margin: 0 auto 2rem auto;
	}
	.center_gombok{
		margin-top: 2rem;
		margin-bottom: 2rem;
		text-align: center;
		
	}
	.center_gombok span{
		display: inline-block;
		padding: .5rem 1rem;
		margin: .5rem .25rem;
		background-color: #f2f2f2;
		color: #5F6368;
		border: 1px solid #f2f2f2;
		border-radius: 4px;
	}
	.center_gombok span:hover{
		border: 1px solid #c6c6c6;
	}
	.center_also{
		text-align: center;
		font-size: .9rem;
	}
	.center_also a{
		color: blue
	}
	.center_also a:hover{
		text-decoration: underline;
	}
/*--home_end--*/

/*--kep_flex_racs--*/
	.kepek_flex_racs{
		display: flex;
		flex-wrap: wrap;
		margin-left: 1rem;
	}
	.kepek_flex_racs .kep_kartya{
		flex-grow: 1;
		margin-right: 1rem;
		margin-bottom: 1rem;
	}
	.kep_kartya	.kep{
		height: 10rem;
		background-color: rgba(0,0,0,.03);
		text-align: center;
	}
	.kep_kartya	.kep img{
		width: 100%;
		height: 100%;
		/*max-height: 100%;
		max-width: 100%;*/
		object-fit: contain;
	}
	.kep_kartya	.kep:hover{
		-webkit-box-shadow: 0 2px 12px 0 rgba(0,0,0,.3);
			-moz-box-shadow:    0 2px 12px 0 rgba(0,0,0,.3);
			box-shadow: 0 2px 12px 0 rgba(0,0,0,.3);    
		
	}
	.kep_kartya p{
		font-size: 0.75rem;
		padding-top: .4rem;
	}
	.kep_kartya span{
		font-size: 0.68rem;
	}
/*--kep_flex_racs_end--*/

/*--kep_grid_racs--*/
	.kepek_grid_racs{
		display: grid;
		/*flex-wrap: wrap;*/
		/*margin-left: 1rem;*/
		grid-template-columns: repeat(auto-fit, minmax(13.5rem, 1fr));
		grid-gap: 1rem;
		margin-left: 1rem;
		margin-right:1rem;
	}
	.kepek_grid_racs .kep_kartya{
		/*flex-grow: 1;*/
		/*margin-right: 1rem;*/
		/*margin-bottom: 1rem;*/
	}
	.kep_kartya	.kep{
		height: 10rem;
		/*object-fit: contain;*/
		background-color: rgba(0,0,0,.03);
		text-align: center;
	}
	.kep_kartya	.kep img{
		width: 100%;
		height: 100%;
		/*max-height: 100%;
		max-width: 100%;*/
		object-fit: contain;
	}
	.kep_kartya	.kep:hover{
		-webkit-box-shadow: 0 2px 12px 0 rgba(0,0,0,.3);
			-moz-box-shadow:    0 2px 12px 0 rgba(0,0,0,.3);
			box-shadow: 0 2px 12px 0 rgba(0,0,0,.3);    
		
	}
	.kep_kartya p{
		font-size: 0.75rem;
		padding-top: .4rem;
	}
	.kep_kartya span{
		font-size: 0.68rem;
	}
/*--kep_grid_racs_end--*/



/*
						margin 		padding 		width/height
		Block			yes			yes				yes
		Inline-block	yes			yes				yes
		Inline			horizontal	horizontal(		no
									vertical visual
									only)
*/

/*--media_querry_fun--*/

	/*Ami ide kerül az az alapeset*/
	#szelesseg{
		opacity: .5;
		position: absolute;
		bottom: 0;
		left:0;
		width: 100%;
	  color: #000000;
	  font-size: .75rem;
	  padding: 5px;
	  background-color: #f3ff69;

	}

	@media only screen and (max-width: 319px ){
		body{opacity: .5;}
		#szelesseg{background-color: grey;}
	}	
	@media only screen and (min-width: 480px){
		#szelesseg{
			background-color: #90ee90;
		}
	}
	@media only screen and (min-width: 768px){
		#szelesseg{
			background-color: #c9e5ff;
		}
	}
	@media only screen and (min-width: 992px){
		#szelesseg{
			background-color: #b19CD9;
		}
	}
	@media only screen and (min-width: 1200px){
		#szelesseg{
			background-color: #ED8A68;
		}		
	}
/*--media_querry_fun_end--*/

